.no-users{
    font-size: 20px;
    background-color: rgb(243, 133, 60);
    padding: 50px;
    width:max-content;
}

.panel-heading{
    background-color: rgb(31, 224, 95);
}

.highlighter{
    background-color: yellow;
    color:black;
  
}

.thead{
    background-color: greenyellow;
}

.tbody{
    background-color: coral;
}