<nav class="panel">
    <div class="panel-heading">
      <p>Users</p>
    </div>
    <div class="panel-block" *ngIf="users.length>0; else noUsers">
        <table class="table is-fullwidth is-bordered">
            <thead class="thead">
                <th>Name</th>
                <th>UserName</th>
                <th>Email</th>
            </thead>
            <tbody class="tbody">
                <tr *ngFor="let user of users">
                    <td>{{user.name}}</td>
                    <td>{{user.username}}</td>
                    <td><p appHighlighter>{{user.email}}</p></td>
                </tr>
            </tbody>
        </table>
    </div>
</nav>

<ng-template #noUsers>
    <div class="columns">
        <div class="column">
            <p class="no-users tag">No Users Available</p>
        </div>
    </div>
</ng-template>
